fastapi==0.115.0
uvicorn[standard]==0.32.0
python-dotenv==1.0.1
pydantic==2.9.2
pydantic-settings==2.5.2
email-validator==2.2.0

# 数据库
sqlalchemy==2.0.35
psycopg2-binary==2.9.10
alembic==1.13.2
pymongo==4.10.1
pymysql==1.1.1

# 安全和认证
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
google-auth==2.29.0
requests==2.31.0
bcrypt==4.0.1
python-multipart==0.0.9

# 邮件发送
aiosmtplib==3.0.1

# Redis 缓存
redis==5.0.1

# 工具库
python-dateutil==2.9.0
